<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comsats.restaurantandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.comsats.restaurantandroid.activity.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ApplicationMenu"></activity>
        <activity android:name=".activity.Home"></activity>
        <activity android:name=".activity.CategoriesList" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activity.DishesList" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activity.HotDishesList" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activity.Favourite"></activity>
        <activity android:name=".activity.FavouriteDishesList" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activity.MostOrderedDishesList" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activity.DishDetail"></activity>
        <activity android:name=".activity.Loading"></activity>
        <activity android:name=".activity.Order"></activity>
        <activity android:name=".activity.OrderBasket"></activity>
        <activity android:name=".activity.RunningOrder"></activity>
        <activity android:name=".activity.OrderHistoryTab"></activity>
        <activity android:name=".activity.Contact"></activity>
        <activity android:name=".activity.About"></activity>
        <activity android:name=".activity.Feedback"></activity>
        <activity android:name=".activity.PostFeedback"></activity>
        <activity android:name=".activity.FeedbackHistoryTab"></activity>
        <activity android:name=".activity.Greeting"></activity>
        <activity android:name=".activity.PrefsActivity"></activity>
    </application>

</manifest>